mixin navigation(back, home, about)
    - if (back)
        a.nav-item.back(href="/")
            span
    button.nav-item.menu
      .menu-trigger
        span
      ul.menu-container
        - if (home)
            li: a.current Home
        - else
            li: a(href="/") Home
        - if (about)
            li: a.current About
        - else
            li: a(href="/about") About
        li: a(href="mailto:themarcusdeely@gmail.com")  Contact
        li: a(href="/photography")  Photography


mixin masthead(hero, project)
    - if (hero)
        nav.masthead.project-header
            .hero(style="background-color: #{projects[projectID].theme}")
     - else
        nav.masthead
            ul
                li Design
                li.name Marc Deely
                li Code

mixin imageCollection(project)
    - if (project.images.collection && project.images.collection.length)
        .collection-container
            - for image in project.images.collection
                .collection
                    img(src='/images/#{image.fileName}')
                    p
                        span #{image.description}

mixin scrollToTop
    button.scrollToTop Scroll to top