extend layout

block content
  .grid
    .grid-sizer

     - for project in projects
      a.grid-item.portfolioLink(href="/#{project.id}")
        .item-content
          img(src="/images/#{project.images.thumb}")
        .item-details #{project.title}

block navigation
  +masthead()
  +navigation(false, true)

  //- /#{project.name.replace('&', 'and').replace(/\s+/g, '-').toLowerCase()}
