extend layout

block content
  .grid
    .grid-sizer
    a.grid-item.portfolioLink(href="/trois")
      .item-details Trois
      .item-content
        img(src="/images/trois.png")
    a.grid-item.portfolioLink(href="/trois")
      .item-details Flyleaf
      .item-content
        img(src="/images/flyleaf-webs.png")
    a.grid-item.portfolioLink
      .item-details Sqipp
      .item-content
        img(src="/images/sqipp.png")
    a.grid-item.portfolioLink
      .item-details Rise &amp; Shine
      .item-content
        img(src="/images/riseAndShine.png")
    a.grid-item.portfolioLink
      .item-details Mu Optics
      .item-content
        img(src="/images/mu.png")
    a.grid-item.portfolioLink
      .item-details Scrybe
      .item-content
        img(src="/images/scrybe.png")

block navigation
  +masthead()
  +navigation(false)
