extend layout

block navigation
    +masthead(true, projects[projectID] )
    +navigation(true)

block content
    .fullscreen-image
    .project-title(style="color: #{projects[projectID].theme}")
        h1 #{projects[projectID].title}
        p #{projects[projectID].subtitle}
    +imageCollection(projects[projectID])
    +scrollToTop
