extend layout

block navigation
    +masthead(class = 'project-header')
    +navigation(true)

block content
    .project-title
        h1 Rise &amp; Shine
        p An app that wakes you up and forces you to smile to turn it off
