@import 'nib';

// Nib provides a CSS reset
global-reset()

// Button Reset
button {
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    outline: 0;
    background-color: transparent;
}

// Mixins
aspectRatio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

  > .item-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

navItemStyles() {
    background-color: white;
    box-shadow: $boxShadow;
    border-radius: 5px;
}

// Animations

@keyframes hover {
    0%   { transform: translate(0px,0px); }
    20%  { transform: translate(-3px,9px); }
    40%  { transform: translate(0px,-8px); }
    60%  { transform: translate(4px,7px); }
    80%  { transform: translate(-5px,-8px); }
    100% { transform: translate(0px,0px); }
}

// Variables

$blue  = #92C3FF;
$black = #333;

$backgroundColor     = #F9F9F9;
$triggerSpacing      = 42px;
$triggerSpacingSixth = ($triggerSpacing/6)
$triggerLineHeight   = 3px;
$triggerColor        = $blue;

$menuWidth = 320px;

$boxShadow = 0 1px 2px rgba(0,0,0,.15);

html {
    background-color: $backgroundColor;

    * {
        box-sizing: border-box;
    }
}

body {
    font-family: 'Lato';
    background-color: $backgroundColor;
    color: $black;
    line-height: 1.5;
}

// Clearfix

.cf {
    clearfix()
}

h1 {
    font-size: 44px;
    text-transform: capitalize;
}

p  {
    font-size: 16px;
    line-height: 1.5em;
    padding: 0 20px;
}

.nav-item {
    position: fixed;
    top: ($triggerSpacing/2);
    right: ($triggerSpacing/2);
    z-index: 999;
    transition: top .5s ease-in-out, right .5s ease-in-out;
    transition-delay: .6s;
    navItemStyles();

    &.back,
    .menu-trigger {
        height: $triggerSpacing;
        width: $triggerSpacing;
        padding: 20px 10px;
    }

    &.back {
        display: none;
        left: ($triggerSpacing/2);
        width: $triggerSpacing;
        height: $triggerSpacing;

        span {
            background-color: transparent;
            width: 16px;

            &:before{
                left: 1px;
                top: 4px;
                transform: rotate(35deg);
            }

            &:after {
                left: 1px;
                top: -4px;
                transform: rotate(-35deg);
            }
        }
    }


    .menu-trigger {
        position: absolute;
        right: 0;
        z-index: 999;
        transition: box-shadow .15s ease-in-out;
        navItemStyles();
    }

    span {
        background-color: $triggerColor;
        width: 100%;
        height: $triggerLineHeight;
        display: block;
        position: relative;
        border-radius: $triggerLineHeight*2;
        z-index: inherit;
        transition: all .25s ease-in-out;
        pointer-events: none;

        &:after,
        &:before {
            content: "";
            position: absolute;
            top: -10px;
            left: 0;
            width: inherit;
            height: $triggerLineHeight;
            background-color: inherit;
            border-radius: 5px;
            background-color: $triggerColor;
            transition: all .25s ease-in-out;
        }

        &:before, {
            top: 10px;
        }
    }

    &:active {
        transform: translate(0,1px);
        box-shadow: 0 0 1px rgba(0,0,0,.15);
    }
}

.menu {
    .menu-trigger.triggered {
        box-shadow: none;

        span {
            background-color: transparent;

            &:before,
            &:after {
                transition: all .25s ease-in-out;
                top: 0px;
            }

            &:before {
                transform: rotate(-45deg);
            }

            &:after{
                transform: rotate(45deg);
            }
        }
    }
}

ul.menu-container {
    position: absolute;
    height: auto;
    width: 0;
    top: 0;
    right: 0;
    background-color: darken($blue, 30%);
    border-radius: 4px;
    background-color: white;
    box-shadow: inherit;
    opacity: 0;
    text-align: left;
    font-size: 16px;
    color: #333;
    overflow: hidden;
    transition: all .2s ease-in-out;
    transform-origin: 100% 0;
    transform: scale(0, 0);

    &.open {
        width: $menuWidth;
        box-shadow: $boxShadow;
        opacity: 1;
        padding: 20px;
        transition: all .25s ease-in-out;
        transform: initial;


        li {
            opacity: 1;
            transition: all .25s ease-in-out;
            transition-delay: .15s;
            transform: initial;

            &:nth-child(2) { transition-delay: .25s; };
            &:nth-child(3) { transition-delay: .35s; };
            &:nth-child(4) { transition-delay: .45s; };
        }
    }

    li {
        padding: 20px;
        opacity: 0;
        transform: translate(10px, 0);
        transition: all .25s ease-in-out;
        // transition-delay: .2s;
    }
}

nav.masthead {
    padding: 24px;
    color: transparent;

    ul {
        margin: 0 auto;
        text-align: center;

        li {
            display: inline-block;
            padding: 6px;
            margin: 6px 12px;
            font-size: 1em;
            vertical-align: middle;
            background-color: white;
            box-shadow: 0 1px 2px rgba(0,0,0,.25);
            height: 65px;
            width: 65px;
            border-radius: 5em;
            -webkit-animation: hover 9s infinite;
            animation: hover 40s ease-in-out infinite;

            &:nth-child(2n) { animation: hover 30s ease-in-out infinite reverse; }
            &:nth-child(3n) { animation: hover 20s ease-in-out infinite alternate; }

            &.name {
                font-size: 2em;
                margin: 6px 7%;
                width: 100px;
                height: 100px;
            }
        }
    }
}

.container {
    width: 100%;
    max-width: 1336px;
    margin: 0 auto;
    padding: 14px;
}

.masthead,
.container,
.project-header {
    opacity: 1;
    transition: opacity .2s ease-in-out;

    &.fade {
        opacity: .1;
        pointer-events: none;
    }
}

.masthead {
    &.project-header {
        background-color: $backgroundColor;
        background-image: url("/images/riseAndShineDesktop.png");
        background-size: cover;
        background-position: 50% 0;
        background-attachment: fixed;
        background-repeat: no-repeat;
        height: 75vh;
        max-height: 720px;
        min-height: 180px;
        position: relative;

        &:after {
            content: "";
            height: 0;
            width: 0;
            position: absolute;
            left: 0;
            right: 0;
            width: 0;
            height: 0;
            bottom: 0;
            border-color: rgba(255, 255, 255, 0) $backgroundColor;
            border-style: solid;
            border-width: 400px 0 0 0;
            border-left-width: 100vw;
            border-top-width: 40px;
            margin-top: 0px;
        }
    }
}

& .project-title {
    text-align: center;

    h1 {
        margin-bottom: 16px;
        margin-top: 2%;
    }
}

.grid-item,
.grid-sizer {
    width: 100%;
}

.grid-item {
    padding: 45px;

    // &:nth-child(2n) { transform: rotateZ(-1.2deg); }
    // &:nth-child(3n) { transform: rotateZ(.8deg); }
    // &:nth-child(4n) { transform: rotateZ(-1.5deg); }
    // &:nth-child(5n) { transform: rotateZ(.95deg); }

    .item-details {
        position: absolute;
        left: 0;
        right: 0;
        top: 45px;
        bottom: 0;
        z-index: 1;
        margin: 15px;
        text-align: center;
        padding: 15px 15px 0 15px;
        color: #292929;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 1.75em;
        font-weight: 600;
        // text-shadow: 0 1px 2px rgba(0,0,0,0.5), 0 1px 30px rgba(0,0,0,0.9);
        opacity: 0;
        transform: scale(.98);
        transition: all .1s ease-in-out;
        overflow-y: scroll;
        overflow-x: hidden;
        margin-top: 15px;
    }

    .item-content {
        position: relative;
        background-color: $backgroundColor;
        border-radius: 3px;
        box-shadow: 0 2px 2px rgba(0,0,0,.55);
        overflow: hidden;

        img {
            height: 100%;
            min-height: 100px;
            width: 100%;
            vertical-align: top;
            transition: all .1s ease-in-out;
            opacity: 1;
        }
    }

    &:hover,
    &:focus {
        .item-details {
            opacity: 1;
            transform: scale(1);
            transition: all .2s ease-in-out;
        }

        .item-content {
            // -webkit-filter: blur(3px);
            // transition: all .1s ease-in-out;

            img {
                transform: scale(1.2);
                opacity: .2;
                transition: opacity .2s ease-in-out, transform 9s ease-out;
            }
        }
    }

    &:active {
        transform: scale(.99);
    }
}

@media screen and (min-width: 480px) {
    .grid-sizer,
    .grid-item {
        width: 50%;
    }

    .nav-item {
        &.menu {
            top: $triggerSpacing;
            right: $triggerSpacing;
        }

        &.back {
            top: $triggerSpacing;
            left: $triggerSpacing;
        }
    }


}

@media screen and (min-width: 768px) {
    .grid-sizer,
    .grid-item {
        width: 33.333%;
    }
}

@media screen and (min-width: 1024px) {
    .grid-sizer,
    .grid-item {
        width: 25%;
    }
}

// modified for diagnol trick for more flexibility on pseudo element:
    // content: "";
    // height: 0;
    // width: 0;
    // position: absolute;
    // left: 0;
    // right: 0;
    // width: 0;
    // height: 0;
    // bottom: 0;
    // border-color: rgba(255, 255, 255, 0) #5400B6;
    // border-style: solid;
    // border-width: 400px 0 0 0;
    // border-left-width: 1280px;
    // border-top-width: 40px;
    // margin-top: 0px;

    // USE FOR DIIANGOL TRICK USING BORDERS
    // background-color: #943B3B;
    // width: 0;
    // height: 0;
    // border-color: rgba(255, 255, 255, 0) #5400B6;
    // border-style: solid;
    // border-width: 400px 0 0 0;
    // margin-top: 550px;
    // border-left-width: 1280px;
    // border-top-width: 215px;
    // margin-top: 0px;
// overflow scroll .item-details if too much content